<% content_for(:title) { "Indicators" } %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div style="display: table; width: 100%; height: 100%;">
        <div data-id="piechart_a" data-view="Piechart" data-title="Indicator Pie" data-moreinfo="" data-prefix=""></div>
      </div>
    </li>
  <ul>
</div>